<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Autor</h3>
    <img id="author" src="images/author.png" alt="imagen autor" />
    <p>Luis Martínez</p>
  </body>
</html>
